body {
    font-family: "Lato", sans-serif;
}

#mobile-menu {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 15px;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* responisve */
@media screen and (max-width: 767px) {

    #mobile-menu {
        display: block;
        float: right;
    }

    .mySidenav {
        width: 100%;
    }
}



@media screen and (max-width: 992px) {


}


@media (min-width: 768px)  and (max-width: 991px) {

}


@media (min-width: 992px) and (max-width: 1199px) {
	
}


@media screen and (min-width: 768px) {

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}





