
/* Authors Custom Style */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#main-body {
  background: #E9EBEE;
  width: 100%;
  margin: 0 auto;

}

/* Fonts */
@font-face{
  font-family: pillgothic;
  src: url('../fonts/Pill_Gothic_600mg_Bold.ttf');
}

/* navigation */

#container-nav-top ul li {
  float: right;
}

#container-nav-top {
  padding: .2% 0px;
}

#nav-list {
  margin-top: 50px;
}

#nav-list ul li a {
  font-family: pillgothic;
  font-size: 15px;
  
}

#nav-list ul li a:hover {
  font-family: pillgothic;
  font-size: 15px;
  
}

/* animate when scrolled */
/* height */

nav.navbar{
  box-sizing: border-box;
  width:100%;
  background: #2396C2;
}

.logo img {
  margin: 0 auto;
  display: block;
  width: 440px;
  -webkit-transition: all 0.4s ease;
}

/* image */
nav.navbar.shrink img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav.navbar.shrink img {
  width: 385px;
}

/* center navigation and contact links */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* contact icon and numbers*/
.contacts {
  float: right;
  margin-right: 5px;
  font-size: 2em;
}
    
@media (min-width: 768px) {

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
   
}


#logo_b {
  display: none;
}

/*mobile menu */
#mobile-menu {
  font-size:30px;
  cursor:pointer; 
  margin-right: 50px;
  color: #fff;
}


/* carousel */
.carousel-inner img  {
  margin: 0 auto;
  display: block;
  width: 100%;
}

#myCarousel {
  width: 100%;
  margin-top: 79px;
}


/* carousel fade effect */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}



/* menu */
.menu {
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  background-color:rgba(4, 180, 49, 0.6);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#nav-list .active {
  font-size: 14px;
  /*color: red;*/
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

#nav-list a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

#life {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 4% 4%;
}

#health {
  /*background-image: url(images/portfolio-bg.png);*/
  
  width: 100%;
  padding: 4% 4%;
    
}
#travel {
  background-color: #333;
  color: #fff;
  width: 100%;
  width: 100%;
  padding: 4% 4%;
}
#homeauto {
  background-color: #fff;
  
  width: 100%;
  width: 100%;
  padding: 4% 4%;
}

#quote {
  background-color: #F1F1F1;
  
  width: 100%;
  width: 100%;
  padding: 4% 4%;
}

#header-logo {
  position:fixed;
  /*top:0;*/
  z-index: 3;
  /*left: 15px;*/
  top: 0px;
  background: nomne;
  width: 100%;
  padding: 20px 0px;
  margin-top: -45px;
}

#header-logo.fixed {
  position:fixed;
  /*top:0;*/
  z-index: 3;
  /*left: 15px;*/
  width: 100%;
  padding: 0px 0px;
}

.fontawesome-select {
    font-family: 'FontAwesome', 'Helvetica';
}

/* indicators */
.carousel-indicators {
  bottom:-50px;
}
.carousel-inner {
   margin-bottom:50px;
}

/* parallax */
.parallax {
  /* The image used */
  /*background-image: url("../img/happy-people.jpg");*/

  /* Set a specific height */


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px;
}

/* socila media icons */
.socialmedia-icons {
  padding-right: 10%;
}

/* validation */
.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}

/* group logo */
#group-logo {
  display: none;
}

/* responisve */
@media screen and (max-width: 767px) {
  #group-logo {
    display: block;
  }

  .logo img {
      width: 380px !important;
      margin-left: 3px;
      
  }
  #nav-buttons li {
      display: none;
  }

  #logo_b {
      display: block;
  }

  #logo_a {
      display: none;
  }

  #myCarousel {
    margin-top: 108px;
    width: 100%;
  }

  .carousel-indicators {
    z-index: -1;
  }
  .main {
    overflow: hidden;
  }

  #main-body {
    
    width: 100%;
    
  }

  #header-logo {

    margin-top: 0px;
  }

}



@media screen and (max-width: 992px) {

}


@media (min-width: 768px)  and (max-width: 991px) {

  #logo_b {
    display: block;
  }

  #logo_a {
      display: none;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  
}


@media screen and (min-width: 768px) {

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}





